name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"
  schedule:
    - cron: '3 3 * * 2'  # 3:03 AM, every Tuesday

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  macOS:
    name: ${{ matrix.platform }} (Swift ${{ matrix.swift }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - iOS
          - mac-catalyst
          - tvOS
        swift:
          - 5.5
          - 5.6
          - 5.7
          - 5.8
        include:
          - swift: 5.5
            os: macos-12
          - swift: 5.6
            os: macos-12
          - swift: 5.7
            os: macos-13
          - swift: 5.8
            os: macos-13
    steps:
      - uses: actions/checkout@v2
      - name: Test Library
        uses: mxcl/xcodebuild@v1
        with:
          platform: ${{ matrix.platform }}
          swift: ~${{ matrix.swift }}
          action: test
          scheme: NavigationTransitions
      - if: ${{ matrix.swift >= 5.7 }}
        name: Build Examples/Demo
        uses: mxcl/xcodebuild@v1
        with:
          platform: ${{ matrix.platform }}
          swift: ~${{ matrix.swift }}
          action: build
          scheme: Demo
